/* Utilisation de fonts */
@font-face { font-family: "Anna"; src: url('../fonts/Penelope Anne.ttf'); }
@font-face { font-family: "Uptown"; src: url('../fonts/Uptown Market Demo.ttf'); }

body{
  background-color:#E2DCAE;
}

#body{
  background-color:#F8EFB1;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

h1,h2,h3{
  font-family: "Anna";
}

p{
  font-family: "Uptown";
}

/* Liste des pages de résultats */
.listePages { width : 400px; margin : auto; padding-top : 20px; text-align: center; }
.listePages p { color : blue; padding: 0px; margin:0px;}
a.lienStart { text-decoration: none; display: inline-block; width : 25px; font-size: smaller; color : blue;}
a.active { color : red;}

img.icone { width: 16px; }

table { border-collapse : collapse; margin : auto; }
td,th { border : 1px solid black;  width : 300px; height : 30px; text-align : center;}
.sansBordure { border : 0px; width : 30px; padding-left : 0px;}


.contenu{
  border-top: thick double #534F44;
}

.scroll{
  padding-left: 1em;
  padding-right: 1em;
  margin-left:1em;
  margin-right: 1em;
}

#logo{
  width: 8em;
  height: 8em;
  border-top-left-radius: 1em;
}
.banniere{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.connexion{
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #F5CF71;
  height: 8em;
  font-family: Jazz LET, fantasy;
  font-size: 1.2em;
  color: #6C5A0C;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

header img{
  height: 8em;
  width: 8em;
}

header .social_media img{
  height: 2em;
  width: 2em;
  display: flex;
  flex-direction: column;
  justify_content: space-around;
  padding: 0.5em;
}

.nav{
  height: 2.8em;
  width: 100%;
}

.fixNavigation{
  height: 2.7em;
  position: fixed;
  width: 98.8%;
  border-radius: 2em;
  top: 0;
 }

#color{
  background-color: #534F44;
}

.scroll2{
  padding-top: 2.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left:1em;
  margin-right: 1em;
}

nav ul{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0.7em;
  justify-content:space-around;
  list-style-type: none;
  text-decoration: none;
}

ul li a{
  text-decoration: none;
  font-family: Bookman, URW;
  color: #FFE880;
  font-size: 1.1em;
  padding: 0.4em;
}

ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
    font-size: 1.3em;
}

 .overview{
   padding: 1em;
 }

 .connexion{
   padding: 1em;
 }

/*
nav a{
  display: flex;
  margin: auto;
  padding: 0.7em;
  align-items: center;
  justify_content: space-around;
}
*/
#end{
  width: 100%-2em;
  height: 9em;
  padding: 1em;
  background-color: #807A4E ;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
